div{
    width: 250px;
    height: 300px;
    border: solid;
    margin: auto;
}
div img{
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 25px;
}
div h2, p{
    text-align: center;
}